Данное домашнее задание посвящено схеме базе данных, связанной с футбольным командами. Схема расположена в hw_diagram.jpg
## Описание таблиц 

### Positions 
Позиции игроков
id - уникальный идентификатор позиции 
Name - Название таблицы 

### Coaches 
Таблица тренеров 
id - уникальный идентификатор тренера
Name - имя тренера 

## Teams 
Таблица команд 
id - уникальный идентификатор  команды 
Name - имя команды 
Location - расположение команды 
Coach_id - идентификатор тренера 

### Players 
Таблица игроков 
Id - уникальный идентификатор игрока 
Name - имя игрока 
Age - возраст игрока 
Position_id - идентификатор позиции 
Team_id - идентификатор команды 
Start_date - дата начала игры в команде 

### PlayersArchive 
Архив по игрокам (информация о том, в какой команде игрок играл ранее) 
player_id - идентификатор игрока 
team_id - идентификатор команды 
start_date - дата начала игры 
end_date - дата окончания игры

In [7]:
%load_ext sql
%sql sqlite:///chinook.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: None@chinook.db'

In [9]:
import sqlite3

In [10]:
db = sqlite3.connect('chinook.db')

# Задание 1
Реализовать перенакатываемые sql-скрипты по схеме hw_diagram, приложенного ниже.

In [11]:
%%sql
DROP TABLE if exists PlayersArchive;
DROP TABLE if exists Positions;
DROP TABLE if exists Coaches;
DROP TABLE if exists Teams;
DROP TABLE if exists Players;

CREATE TABLE PlayersArchive (
    Player_id integer,
    Team_id integer,
    start_date date,
    end_date date,
    primary key(Player_id, Team_id)
);

CREATE TABLE Positions (
    id integer primary key,
    Name varchar(50)
);

CREATE TABLE Coaches (
     id integer primary key,
     Name varchar(50)
);

CREATE TABLE Teams (
    id integer primary key,
    Name varchar(50),
    Location integer,
    Coach_id integer,
    foreign key (Coach_id) references Coaches(id)
);

CREATE TABLE Players (
    id integer primary key,
    Name varchar(50),
    Age integer,
    Position_id integer,
    Team_id integer,
    Start_date date,
    foreign key (Position_id) references Positions(id),
    foreign key (Team_id) references Teams(id),
    foreign key (id) references PlayersArchive(Player_id)
);

Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [12]:
%%sql
PRAGMA foreign_keys = ON;

Done.

[]

# Задание 2
Написать sql-скрипт, осуществляюший добавление всех возможных позиций игроков. (В данной задаче можно ограничится четырьмя - вратарь, защитник, полузащитник, нападающий)

In [13]:
%%sql
INSERT INTO Positions VALUES
(1, 'Goalkeeper'),
(2, 'Defender'),
(3, 'Midfielder'),
(4, 'Forward');

4 rows affected.

[]

# Задание 3
Написать функцию, осуществляющую добавление тренера. На вход функции подается имя тренера. При невозможности вставки функция должна обработать данное исключение и вывести пользователю информацию о проблеме

После написания функции необходимо добавить несколько тренеров для таблицы.

In [19]:
def new_coach(coaches):
    cursor = db.cursor()
    cursor.execute( '''
    SELECT COALESCE(MAX(id)+1, 1) AS new_id FROM Coaches''')
    new_id = cursor.fetchone()[0]
    for i, coach in enumerate(coahes):
        cursor.execute('''
        INSERT INTO Coaches(id, name) VALUES(?,?)''', (new_id + i, coach[0])
        
    db.commit()

SyntaxError: invalid syntax (<ipython-input-19-1d27714f1e4f>, line 10)

In [16]:
new_coach([['Slutskiy'], ['Gancharenko']])

NameError: name 'new_coach' is not defined

In [ ]:
%%sql
SELECT * 
FROM Coaches

# Задание 4

Написать функцию, осуществляющую добавление команды. На вход функция принимает (имя команды, местоположение, имя тренера).
На выходе должна быть добавлена команда.

После написания функции необходимо добавить несколько команд

# Задание 5

Написать функцию, осуществляющую обновление информации о команде. У функции на входе должен быть один обязательный параметр - название команды и два необязательных параметра - имя тренера и местоположение. При этом хотя бы один из необязательных параметров должен быть заполнен. Функция должна обновлять значение переданных необязательных параметров.

После написания функции вызовите данную функцию несколько раз

# Задание 6

Написать функцию, осуществляющую добавление нового футболиста в таблицу игроков. На входе (имя, возраст, название позиции, название команды, дата перехода в команду(необязательный параметр)). Если дата перехода не указана, то нужно использовать текущую дату. Предусмотреть различные ошибки (такие как неверное имя позиции, неверное название команды, возраст < 10 и > 50 и т.п.)

После написания функции необходимо добавить несколько игроков.

# Задание 7
Написать функцию для перевода игрока в другую команду. Данная функция должна осуществить архивирование текущей записи в таблице игроков в таблицу players_archive с заполнение end_date - датой начала игры за новую команду - 1 день. А также осуществлять изменение поля в таблице Players. При возникновении ошибки должен осуществляться полный откат транзакции.