# Домашнее задание 2 

Необходимо реализовать схему, указанную в hw_diagram.pdf

## Описание таблиц 
PeopleStatus - Описание возможных статусов людей, которые есть в университете (Студент, Преподаватель).
Faculties - Описание факультетов, которые есть в университете (KIB, IT, и т.д.).
People - Информация о людях в университете (Имя, почта, ссылка на факультет, ссылка на статус).
Classes - Описание возможных классов в университете (название (Математический анализ) и ссылка на факультет).
Semesters - Справочник семестров факультета(например, Осень2016, '2016-01-01', '2016-12-31').
ClassesSchedule - Расписание классов (ссылки на семестр, преподавателя и курс, день недели, время начала).
StudentsSchedule - Таблица, описывающая, какой студент ходит на какой курс.

In [1]:
# Не забудьте настроить соединение!
%load_ext sql
%sql sqlite:///chinook.db

'Connected: @chinook.db'

## Создание таблиц
Напишет ниже скрипты по созданию таблиц с учетом всех внешних ключей.

In [2]:
%%sql
drop table if exists StudentsSchedule;
drop table if exists ClassesSchedule;
drop table if exists People;
drop table if exists Classes;
drop table if exists Faculties;
drop table if exists PeopleStatus;
drop table if exists Semesters;



CREATE TABLE Semesters (
    id integer primary key,
    shortname varchar(50),
    date_start date,
    date_end date
);

CREATE TABLE PeopleStatus (
    id integer primary key,
    name varchar(50)
);

CREATE TABLE Faculties (
    id integer primary key,
    name varchar(50)
);

CREATE TABLE Classes (
    id integer primary key,
    description varchar(50),
    fac_id integer,
    foreign key (fac_id) references Faculties(id)
);

CREATE TABLE People (
    id integer primary key,
    name varchar(50),
    email varchar(50),
    fac_id integer,
    status_id integer,
    foreign key (fac_id) references Faculties(id),
    foreign key (status_id) references PeopleStatus(id)
);

CREATE TABLE ClassesSchedule (
    id integer primary key,
    class_id integer,
    teacher_id integer,
    semester_id integer,
    week_day integer,
    time_start integer,
    foreign key (class_id) references Classes(id),
    foreign key (teacher_id) references People(id),
    foreign key (semester_id) references Semesters(id)
);


CREATE TABLE StudentsSchedule (
    student_id integer,
    classesschedule_id integer,
    primary key(student_id, classesschedule_id),
    foreign key (student_id) references People(id),
    foreign key (classesschedule_id) references ClassesSchedule(id)
);

 * sqlite:///chinook.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

## Добавление записей в таблицы
Приведите примеры добавления записей в каждую из таблиц

In [21]:
%%sql
PRAGMA foreign_keys = ON;

Done.

[]

In [22]:
%%sql
INSERT INTO 'Faculties' VALUES
(1, 'Applied mathematics'),
(2, 'Applied informatics');

INSERT INTO 'PeopleStatus' VALUES 
(1, 'teacher'),
(2, 'student');

INSERT INTO 'Semesters' VALUES
(1, 'first', 2017-09-01, 2017-12-30),
(2, 'second', 2018-02-01, 2018-05-30);

INSERT INTO 'Classes' ('id', 'description', 'fac_id') VALUES
(1, 'Math', 1),
(2, 'Programming', 2);

INSERT INTO 'People' ('id', 'name', 'email', 'fac_id', 'status_id') VALUES
(1, 'Alexander', 'sanyamail.ru', 1, 1),
(2, 'Roman', 'romamail.ru', 2, 1),
(3, 'Mikhail', 'mishayandex.ru', 1, 2),
(4, 'Ivan', 'vanyagmail.com', 2, 2);

INSERT INTO 'ClassesSchedule' ('id', 'class_id', 'teacher_id', 'semester_id', 'week_day', 'time_start') VALUES
(1, 1, 3, 1, 1, 1),
(2, 2, 4, 2, 1, 1);

INSERT INTO 'StudentsSchedule' ('student_id', 'classesschedule_id') VALUES
(1, 1),
(2, 2);

2 rows affected.
2 rows affected.
2 rows affected.
2 rows affected.
4 rows affected.
2 rows affected.
2 rows affected.

[]